name: Untouchables
run-name: Check untouchables folder
on: [pull_request]
jobs:
  check-untouchables:
    runs-on: ubuntu-latest
    steps:
      - id: get-changed-files
        run: |
          git diff ${{ github.event.pull_request.base.sha }} --name-only
      
      - run: |
          for changed_file in ${{ steps.get-changed-files.outputs.all }}; do
            echo ${changed_file};
            if grep -q ^untouchables/ <<< ${changed_file}
            then
              echo "Something happened in untouchables/";
              exit 1;
            fi
          done
