name: Untouchables
run-name: Check untouchables folder
on: [pull_request]
jobs:
  check-untouchables:
    runs-on: ubuntu-latest
    steps:
      - id: get-changed-files
        uses: jitterbit/get-changed-files@v1
      
      - id: fail-if-untouchables-changed
        run: |
          for changed_file in ${{ steps.get-changed-files.outputs.all }}; do
            if grep -q ^untouchables/ <<< ${changed_file}
            then
              echo "Something happened in untouchables/";
              exit 1;
            fi
          done
