name: Untouchables
run-name: Check untouchables folder
on: [pull_request]
jobs:
  check-untouchables:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - id: get-changed-files
        run: |
          git diff ${{ github.event.pull_request.head.sha }} --name-only
          echo "::set-output KEKW"
      
      - run: |
          for changed_file in $(echo "lmao"); do
            echo ${changed_file};
            if grep -q ^untouchables/ <<< ${changed_file}
            then
              echo "Something happened in untouchables/";
            fi
          done
